<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="wrapper">
    <% messages.forEach((message, index) => { %>
      <div class="card">
        <h3><%= message.user %></h3>
        <p><%= message.text %></p>
        <p>Date Added: <%= message.added %></p>
        <a href="/message/<%= index %>" target="_blank" rel="noopener noreferrer" class="open">
          open
        </a>
      </div>
      <% }) %>
    </div>

    <a href="/new" class="new-message">Add message</a>
  </body>
</html>
